body {
    background-color: rgb(112, 106, 106);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(250, 244, 244);
  }

  
  